<div class="col-md-6">
  <h2 class="text-center">Registrate</h2>
<form>
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" [(ngModel)]="perfil.nombre" placeholder="Nombre" name="nombre" class="form-control" id="nombre">
  </div>
  <div class="form-group">
    <label for="edad">Edad:</label>
    <input type="text" [(ngModel)]="perfil.edad" placeholder="Edad" name="edad" class="form-control" id="edad">
  </div>
  <div class="form-group">
    <label for="descripcion">Descripcion:</label>
    <input type="text" [(ngModel)]="perfil.descripcion" placeholder="Descripcion" name="descripcion" class="form-control" id="descripcion">
  </div>
  <div class="form-group">
    <label for="genero">Genero:</label>
    <input type="text" [(ngModel)]="perfil.genero" placeholder="Genero" name="genero" class="form-control" id="genero">
  </div>
  <div class="form-group">
    <label for="poblacion">Poblacion:</label>
    <input type="text" [(ngModel)]="perfil.poblacion" placeholder="Poblacion" name="poblacion" class="form-control" id="poblacion">
  </div>
  <div class="form-group">
    <label for="generoInteres">Genero Interes:</label>
    <input type="text" [(ngModel)]="perfil.generoInteres" placeholder="Genero Interes" name="generoInteres" class="form-control" id="generoInteres">
  </div>
  <div class="form-group">
    <label for="edadMinima">Edad Minima:</label>
    <input type="text" [(ngModel)]="perfil.edadMinima" placeholder="Edad Minima" name="edadMinima" class="form-control" id="edadMinima">
  </div>
  <div class="form-group">
    <label for="edadMaxima">Edad Maxima:</label>
    <input type="text" [(ngModel)]="perfil.edadMaxima" placeholder="Edad Maxima" name="edadMaxima" class="form-control" id="edadMaxima">
  </div>
  <button class="btn btn-success" (click)="altaPerfil()">Create</button>
</form>
</div>