
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" th:action="@{/raddPerfil}" th:object="${perfil}" method="POST">
					<span class="login100-form-title p-b-43">
						Registrate
					</span>
			 <form method="post" th:object="${perfil}" th:action="@{/raddPerfil}">
                <div class="form-group">
                <label class="col-md-4 control-label" for="nombre">Nombre</label>
  				<div class="col-md-4 inputGroupContainer">
  				<div class="input-group">
                    <input type="text" class="form-control" th:field="*{nombre}">
                </div>
              </div>
             </div>   
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="genero" id="genero" value="Male" th:field="*{genero}" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Hombre
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="genero" id="genero" value="Female" th:field="*{genero}">
                  <label class="form-check-label" for="exampleRadios2">
                    Mujer
                  </label>
                </div>
                
                <div class="form-group">
                    <label for="edad">Edad</label>
                    <input type="text" class="form-control" th:field="*{edad}">
                </div>
                
                <div class="form-group">
                    <label for="descipcion">Descripcion</label>
                    <input type="text" class="form-control" th:field="*{descripcion}">
                </div>
                <div class="form-group">
                    <label for="poblacion">Poblacion</label>
                    <input type="text" class="form-control" th:field="*{poblacion}">
                </div>
                <div class="genero">Genero de interes</div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="generoMasc" id="genero1" value="Male" th:field="*{generoInteres}">
                  <label class="form-check-label" for="exampleRadios1">
                    Hombre
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="genero" id="genero2" value="Female" th:field="*{generoInteres}">
                  <label class="form-check-label" for="exampleRadios2">
                    Mujer
                  </label>
                </div>
                
                <div class="form-group">
                    <label for="edadMinima">Busquedas por edad minima:</label>
                    <input type="text" class="form-control" th:field="*{edadMinima}">
                </div>
                <div class="form-group">
                    <label for="edadMaxima">Busquedas por edad maxima</label>
                    <input type="text" class="form-control" th:field="*{edadMaxima}">
                </div>
               <div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Registrar
						</button>
					</div>
				</form>
				<div class="login100-more" style="background-image: url('images/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>
