<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Listado de Contactos</title>
</head>
<body>
	<div id="contenedor">
		<table>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Genero</th>
					<th>Edad</th>
					<th>Descripcion</th>
					<th>Poblacion</th>
				</tr>
			</thead>
			<tbody>
			<th:block th:each="perfil : ${listPerfil}"> 
				<tr>					
					<td th:text="${perfil.nombre}">...</td>
					<td th:text="${perfil.genero}">...</td>
					<td th:text="${perfil.edad}">...</td>
					<td th:text="${perfil.descripcion}">...</td>
					<td th:text="${perfil.poblacion}">...</td>
				</tr>
			 </th:block> 
			</tbody>
		</table>
	</div>
</body>
</html>