<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"   
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
   <p>PAgina de inicio</p>
   <br>
   <form name="formulario1" th:action="@{/login/#{id}}"  method="POST">
       
        <table>
            <tr>
                <td><label >Introduce tu ID de usuario:</label></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Continuar">
                </td>
            </tr>
        </table>
       
       
   </form>
    
</body>
</html>