<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"   
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<body>
	<h2> HOLA MUNDO, AQUI VA UN LISTADO DE LOS PERFILES PARA DAR LIKE</h2>
<div align="center">
		<table border="1">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Genero</th>
					<th>Edad</th>
					<th>Descripcion</th>
					<th>Poblacion</th>
				
				</tr>
			</thead>
			
			<tbody>
			<input:hidden path="perfil"></input>
					<th:block th:each="perfil : ${listPerfil}"> 
				<tr>					
					<td th:text="${perfil.nombre}">...</td>
					<td th:text="${perfil.genero}">...</td>
					<td th:text="${perfil.edad}">...</td>
					<td th:text="${perfil.descripcion}">...</td>
					<td th:text="${perfil.poblacion}">...</td>

			 
					
					</tr>
					</th:block>

			</tbody>
		</table>
	</div>
</body>