<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"   
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<body>
	<h2> HOLA MUNDO, AQUI VA UN LISTADO DE LOS PERFILES PARA DAR LIKE</h2>
<div align="center">
		<table border="1">
			<thead>
				<tr>
					<th>Nombre contacto</th>
					<th>Genero contacto</th>
					<th>Edad contacto</th>
					<th>Descripcion contacto</th>
					<th>Poblacion contacto</th>
					<th>Genero de interes de contacto</th>
				</tr>
			</thead>
			
			<tbody>
					<th:block th:each="contacto : ${listContactos}">
					<tr>
					<td th:text="${contacto.nombre}">Nombre contacto</td>
					<td th:text="${contacto.genero}">Genero contacto</td>
					<td th:text="${contacto.edad}">Edad contacto</td>
					<td th:text="${contacto.descripcion}">Descripcion contacto</td>
					<td th:text="${contacto.poblacion}">Poblacion contacto</td>
					<td th:text="${contacto.generoInteres}">Genero de interes de contacto</td>
					
					</tr>
					</th:block>

			</tbody>
		</table>
	</div>
</body>