<div class="cabezera">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Lucatinder</a>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a  class="nav-item nav-link active" href="/listado/">Perfiles <span class="sr-only">(current)</span></a>
          <a  class="nav-item nav-link" href="@{'/contacto/'+${idPerfil}}">Me gustan</a>
        </div>
      </div>
    </nav>
</div>
