<div class="row">
    <th:block th:each="perfil : ${listPerfil}">
        <div class="col-sm-3">
    
        <div class="card" style="width: 18rem;">
          <div class="card-body">
        <h5 class="card-title" text="${'Nombre: '+perfil.nombre}"></h5>
        <h5 class="card-title" text="${'Nombre: '+perfil.idPerfil}"></h5>
        <h6 class="card-subtitle mb-2 text-muted" text="${'Eddad:'+perfil.edad}">Card subtitle</h6>
        <p class="card-text" text="${'Descripcion: '+perfil.descripcion}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="@{'/addLike/'+${idPerfil}+'/'+${perfil.idPerfil}}" class="card-link">Me Gusta</a>
        </div>
  </div>
</div>

</div>
    </th:block>
</div>
