<div class="row">
   
        <div class="col-sm-4 margenes" *ngFor="let item of lista">
    
        <div class="card">
          <div class="card-body">
        <h5 class="card-title text-white bg-primary" text="${'Nombre: '+perfil.nombre}"></h5>
        <h6 class="card-subtitle mb-2 text-muted" text="${'Eddad:'+perfil.edad}">Card subtitle</h6>
        <p class="card-text" text="${'Descripcion: '+perfil.descripcion}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="@{'/addLike/'+${idPerfil}+'/'+${perfil.idPerfil}}" class="card-link">Me Gusta</a>
        </div>
  </div>
</div>

</div>
